.htaccess
nginx.conf

# ignore everything in the root of the sites except the "wp-content" directory.
basic/*
inter/*
advan/*

# But wait! Don't ignore this:
!basic/wp-content/ 
!inter/wp-content/ 
!advan/wp-content/